{% extends 'painel.html.twig' %}

{% block body %}
    <h1>Cadastro de Barbeiros</h1>

    {{ form_start(form, {'attr': {'novalidate': 'true'  } } )}}
        {{ form_row(form.nome) }}
        {{ form_row(form.servico, {'label': 'Serviço'} ) }}
        {{ form_row(form.telefone) }}
        {{ form_row(form.sexo) }}
        {{ form_row(form.dataNascimento) }}
        
       <input class="btn btn-success" type="submit" value="Salvar" /> 
{{ form_end(form) }}

    
{% endblock %}
